<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div>
        <img src="./assets/images/git8.png">
      </div>
      <div class="card mt-3">
        <div class="card-header text-black" id="top">
          <h3>Github User Search</h3>
        </div>
        <div class="card-body">

          <form class="form-inline" id="search-form">
            <div class="form-group col-md-8 mt-2">
              <input  name="user" type="text" class="form-control" placeholder="Search the username of any github user!" id="search"
              name="username" [(ngModel)]="username" (keyup)="findProfile()">
              <!-- <div class="container">
                  <input type="submit" value="Search" class="btn btn-sm mt-3" id="click" />
              </div> -->
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="profile" class="container"> 
  <div class="panel panel-default">
    <div class="panel-heading mt-3">

        <h3>{{profile.name | case}} <small>({{profile.login}})</small></h3>
    </div>
    <div class="col-sm-4 mt-2">
      <p *ngIf="profile.bio">{{profile.bio}}</p>
      <!-- <p>Date created:{{profile.created_at}}<p></p> -->
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3 mt-3">
          <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
        </div>
        <div class="col-sm-4 container">
          <div class="flex flex-row">
            <!-- <p appHighlight>{{profile.name | case}}</p> -->
            <h5>
              <span class="details">{{profile.followers}} Followers</span>
              <span class="details"> Following: {{profile.following}}</span>
              <span class="details"> Public Repos: {{profile.public_repos}} </span>
            </h5>
            <p><a href="{{profile.html_url}}" target="_blank"class="btn btn-success btn-sm">View Profile on GitHub</a></p>
            <div class="panel panel-default">
              <h2 appHighlight class="panel-title">Repositories</h2>
            </div>
            <div class="panel-body mt-4 flex flex-wrap " *ngFor="let repo of repos">
              <P class="clearfix" id="reponame">
                {{repo.name}}
              </P>
               <p>{{repo.description}} <br><a href="{{repo.html_url}}" target="_blank" class="btn btn-warning btn-sm">View Project</a><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


