@import "~bootstrap/dist/css/bootstrap.css";
body{
    /* background-image: url("./assets/images/git8.png"); */
    background-position: 50%;
    background-size: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    padding: auto;
}